{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div style="text-align:center">
        <form action="/login" method="post">
            <table style="width:100%">
                <tr>
                    <td>
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username/Email" type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="Password" type="password">
                        </div>
                    </td>
                </tr>
            </table>
            
            <button class="btn btn-success" type="submit">Log In</button>

        </form>
</div>
{% endblock %}